<% content_for :title do %>About<% end %>
<h3 class="center-justified">About the Website</h3>
<p class="center-justified">
	An online tool to create and distribute unique style of surveys easily.
</p>
<p class="center-justified">	
	Created for Harvey Mudd College Engineering Design research led by Professor Gordon Krauss.
</p>
