// Place all the styles related to the Surveys controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.survey-index {
  border: solid 1px;
  color: black;
  padding: 0px 13px 13px 13px;
  margin-bottom: 10px;
}
